// COLORS
$primary-color: #906C50;
$secondary-color: #584A39;

$light-white: #f9fafb;
$bright-white: #fff;

$dark-grey: #A1A2A3;
$light-grey: #C5C5C5;

$black-color: #100F08; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$xl-font-size: 4rem;
$large-font-size: 3rem;
$mid-font-size: 2.5rem;